
#borda {
    border-radius: 10px;
    border: solid 5px rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    font-size: 100%;
    margin-left: 50px;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: cyan;
}
button {
    margin-top: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    color: cyan;
    border-radius: 2px;
}
